/*
 * @Author: Wind Rises
 * @Date: 2020-05-23 20:02:25
 * @Last Modified by: Wind Rises
 * @Last Modified time: 2020-05-23 20:04:37
 */
.f, .flex, .dir-left, .dir-left, .dir-right, .dir-top, .dir-bottom, .main-left, .main-right, .main-justify, .main-center, .cross-top, .cross-bottom, .cross-center, .cross-baseline, .cross-stretch
    display flex

.dir-left
    flex-direction row

.dir-right
    flex-direction row-reverse

.dir-top
    flex-direction column

.dir-bottom
    flex-direction column-reverse

.main-left
    justify-content flex-start

.main-right
    justify-content flex-end

.main-justify
    justify-content space-between

.main-center
    justify-content center

.cross-top
    align-items flex-start

.cross-bottom
    align-items flex-end

.cross-center
    align-items center

.cross-baseline
    align-items baseline

.cross-stretch
    align-items stretch

.f-box-0
    flex-grow 0
    flex-shrink 0

.f-box-1
    flex-grow 1
    flex-shrink 1

.f-box-2
    flex-grow 2
    flex-shrink 2

.f-box-3
    flex-grow 3
    flex-shrink 3

.f-box-4
    flex-grow 4
    flex-shrink 4

.f-box-5
    flex-grow 5
    flex-shrink 5

.f-box-6
    flex-grow 6
    flex-shrink 6

.f-box-7
    flex-grow 7
    flex-shrink 7

.f-box-8
    flex-grow 8
    flex-shrink 8

.f-box-9
    flex-grow 9
    flex-shrink 9

.f-bok-10
    flex-grow 10
    flex-shrink 10
