/*
 * @Author: Wind Rises
 * @Date: 2020-05-23 20:02:25
 * @Last Modified by: Wind Rises
 * @Last Modified time: 2020-05-23 20:02:53
 */
$ok-main-color = #303133
$ok-content-color = #606266
$ok-tips-color = #909399
$ok-light-color = #c0c4cc
$ok-border-color = #e4e7ed
$ok-bg-color = #f3f4f6
$ok-type-primary = #2979ff
$ok-type-primary-light = #ecf5ff
$ok-type-primary-disabled = #a0cfff
$ok-type-primary-dark = #2b85e4
$ok-type-warning = #ff9900
$ok-type-warning-disabled = #fcbd71
$ok-type-warning-dark = #f29100
$ok-type-warning-light = #fdf6ec
$ok-type-success = #19be6b
$ok-type-success-disabled = #71d5a1
$ok-type-success-dark = #18b566
$ok-type-success-light = #dbf1e1
$ok-type-error = #fa3534
$ok-type-error-disabled = #fab6b6
$ok-type-error-dark = #dd6161
$ok-type-error-light = #fef0f0
$ok-type-info = #909399
$ok-type-info-disabled = #c8c9cc
$ok-type-info-dark = #82848a
$ok-type-info-light = #f4f4f5

// 如丝般顺滑的滚动
scroll-touch-y()
    overflow-y scroll
    -webkit-overflow-scrolling touch

scroll-touch-x()
    overflow-x scroll
    -webkit-overflow-scrolling touch