/*
 * @Author: Wind Rises
 * @Date: 2020-05-23 20:02:25
 * @Last Modified by: Wind Rises
 * @Last Modified time: 2020-05-23 20:28:25
 */
.page-header, .page-footer
    height 88rpx

.page-content
    height 100%
