/*
 * @Author: Wind Rises
 * @Date: 2020-04-23 14:24:41
 * @Last Modified by: Wind Rises
 * @Last Modified time: 2020-05-23 20:21:29
 */
.ok-loadmore
    height 90rpx
    width 100%
    font-size 24rpx
    color #A6A6A6